{
    "printWidth": 160,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "trailingComma": "none",
    "jsxBracketSameLine": true,
    "endOfLine": "auto"
}
