// Override the theme for daisyui

:root {
    --in: 0 0% 50%;
    --su: 158 64% 48%;
    --wa: 39 96% 62%;
    --er: 10 96% 62%;
}

[data-theme="dark"]:root {
    --p: 200 80% 60%;
    --pf: 200 80% 50%;
    --pc: 0 0% 100%;
    --s: 240 9% 2%;
    --sf: 230 9% 22%;
    --sc: 0 0% 100%;
    --a: 0 0% 95%;
    --af: 0 0% 90%;
    --ac: 0 0% 5%;
    --n: 0 0% 15%;
    --nf: 0 0% 20%;
    --nc: 0 0% 90%;
    --b1: 0 0% 0%;
    --b2: 0 0% 5%;
    --b3: 0 0% 10%;
    --bc: 0 0% 100%;
}

[data-theme="light"]:root {
    --p: 200 80% 60%;
    --pf: 200 80% 50%;
    --pc: 0 0% 100%;
    --s: 185 9% 72%;
    --sf: 175 9% 52%;
    --sc: 0 0% 0%;
    --a: 0 0% 5%;
    --af: 0 0% 10%;
    --ac: 0 0% 95%;
    --n: 0 0% 85%;
    --nf: 0 0% 80%;
    --nc: 0 0% 10%;
    --b1: 0 0% 100%;
    --b2: 0 0% 95%;
    --b3: 0 0% 90%;
    --bc: 0 0% 0%;
}
