// Override the dark theme for daisyui

[data-theme="dark"]:root {
    --p: 206 100% 48%;
    --pf: 206 100% 43%;
    --pc: 0 0% 100%;
    --s: 0 0% 51%;
    --sf: 0 0% 32%;
    --sc: 0 0% 100%;
    --a: 206 100% 48%;
    --af: 206 100% 42%;
    --ac: 0 0% 100%;
    --n: 0 0% 11%;
    --nf: 0 0% 23%;
    --nc: 0 0% 100%;
    --b1: 0 0% 0%;
    --b2: 0 0% 19%;
    --b3: 0 0% 29%;
    --bc: 0 0% 100%;
    --in: 0 0% 68%;
    --su: 174 100% 29%;
    --wa: 36 100% 50%;
    --er: 14 100% 57%;
}

[data-theme="light"]:root {
    --p: 206 100% 48%;
    --pf: 206 100% 43%;
    --pc: 0 0% 100%;
    --s: 0 0% 51%;
    --sf: 0 0% 32%;
    --sc: 0 0% 100%;
    --a: 206 100% 48%;
    --af: 206 100% 42%;
    --ac: 0 0% 100%;
    --n: 215 28% 17%;
    --nf: 221 39% 11%;
    --nc: 0 0% 100%;
    --b1: 0 0% 100%;
    --b2: 210 20% 98%;
    --b3: 216 12% 84%;
    --bc: 215 28% 17%;
    --in: 0 0% 68%;
    --su: 174 100% 29%;
    --wa: 36 100% 50%;
    --er: 14 100% 57%;
}
