<div class="example-container">
    <div>
        <div class="d-flex flex-column overflow-hidden h-100 align-center justify-content-end p-2">
            <span class="red">invert_colors</span>
            <button class="mb-2" (click)="onToggleThemeButtonClick()">
                <span class="red">invert_colors</span>
            </button>
            <button  class="">
                <span class="app-logo"></span>
            </button>
        </div>
    </div>
    <div>
        <paper-note class="container"></paper-note>
    </div>
</div>
