.paper-note-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 1px;
    width: 100%;
}

.paper-note-list-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.8rem;
}

.paper-note-list {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    overflow: hidden;

    .paper-note-list-item {
        width: 100%;
    }

    .paper-note-item {
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;
        margin: 0.4rem;
        padding: 0.4rem;
        border-radius: 0.1rem;
        max-height: 10rem;
        cursor: pointer;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        overflow: hidden;
    }

    .paper-note-title {
        margin: 0;
        font-size: 2rem;
    }

    .paper-note-content {
        margin: 0.4rem 0;
        overflow: hidden;
        flex: 1 1 auto;
    }

    .paper-note-footer {
        display: flex;
        flex-direction: row;
        flex: 0 1 auto;
    }

    .paper-note-border-bottom {
        border-bottom: 1px solid grey;
    }
}
