<div class="paper-note-container">
    <div class="paper-note-list-container">
        <div class="paper-note-list">
            <div *ngFor="let nextNote of notes" class="paper-note-item">
                <label class="paper-note-title paper-note-border-bottom">{{ nextNote.title }}</label>
                <div class="paper-note-content">
                    {{ nextNote.content }}
                </div>
                <div class="paper-note-footer">
                    <button mat-icon-button class="mr-2 my-2"><mat-icon color="primary">edit</mat-icon></button>
                    <button mat-icon-button class="mr-2 my-2"><mat-icon color="warn">delete</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>
