<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
        <!-- CSS will be injected by webpack here -->
    </head>

    <body>
        <main-app class="app-root">Loading...</main-app>

        <!-- Scripts will be injected by webpack here -->
    </body>
</html>
