<!DOCTYPE html>
<!-- data-theme="light" attribute is for daisyui themes and class="light" is for tailwind css. -->
<!-- Although we will be using daisyui theme most of the time, tailwind theme is just for some edge case. -->
<html lang="en-US" data-theme="light" class="light">
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
        <!-- CSS will be injected by webpack here -->
    </head>

    <!-- This ensures that the proper theme background is applied to your page. -->
    <body class="bg-base-200 text-base-content">
        <main-app class="flex flex-grow h-screen w-screen overflow-hidden">
            <div class="flex flex-auto justify-center items-center">Loading...</div>
        </main-app>
        <!-- Scripts will be injected by webpack here -->
    </body>
</html>
